// Place all the styles related to the map controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* The side navigation menu */
@media only screen and (max-width : 600px) {
  .sidenav {
    display:none;
  }
}

@media only screen and (min-width : 601px) {
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

@media only screen and (max-width : 600px) {
  #map {
    height: 75%;
    transition: margin-right .5s;
    padding: 20px;
  }
}

@media only screen and (min-width : 601px) {
  #map {
    height: 75%;
    transition: margin-right .5s;
    padding: 20px;
    margin-right: 420px;
  }
}

 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
.fake-link {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.movie-info {
  margin-left: 15px;
}

div.directions {
  background-color: white;
  border: none;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

img.movie {
  height: 300px;
  width: 200px;
  object-fit: contain;
  position: relative;
  left: 100px;
}

h1.movie-header {
  margin-top: 10px;
  color: white;
}