<!DOCTYPE html>
<html>

<head>
  <title>MovieGo Movies View</title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>


</head>

<%= render 'shared/header' %>
<%= render 'shared/navigation' %>

<body>

<div class="location-center" style="width:500px;">
  <p style="display:inline; margin-right:10px; color:black;">Movies Near You:</p>
  <p style="display:inline; color:black;">
    <input class="location-input" type="text" id="address" value="" placeholder="Zip/Address/City">
    <button class="search-button" onclick="convertAddress(false)">Search</button>
  </p>

</div>

<div class="location-center" style="width:500px; padding-top: 20px;">

<p class="location-center" style="margin: 20px; width: 230px; display: inline;">
  <button class="location-button" onclick="getLocation(false)">Use My Location</button>
</p>
<p class="location-center" style="margin: 0px; width: 230px; display: inline;">
  <button class="location-button" onclick="getRecommendation()">Recommendation</button>
</p>

</div>

<hr>

<script>
  function getLocation(recommend) {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        console.log("User Coordinates: " + lat + ", " + lng);
        httpGetAsync(lat, lng, recommend);
      });
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  function convertAddress(recommend) {
    var address = document.getElementById("address").value;

    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'address': address}, function (results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var lat = results[0].geometry.location.lat();
        var lng = results[0].geometry.location.lng();
        console.log("User Coordinates: " + lat + ", " + lng);
        httpGetAsync(lat, lng, recommend);
      }
    });
  }

  function getRecommendation() {
    var address = document.getElementById("address").value;
    console.log(address);
    if (address)
      convertAddress(true);
    else
      getLocation(true);
  }
</script>

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>

  var thumbnails = new Object();
  thumbnails["Inferno"] = "assets/posters/inferno.jpg";
  thumbnails["Keeping Up With the Joneses"] = "assets/posters/kuwtj.jpg";
  thumbnails["Jack Reacher: Never Go Back"] = "assets/posters/jackreacher.jpg"
  thumbnails["The Accountant"] = "assets/posters/accountant.jpg"
  thumbnails["Doctor Strange 3D"] = "assets/posters/drstrange.jpg"
  thumbnails["Doctor Strange"] = "assets/posters/drstrange.jpg"
  thumbnails["Trolls"] = "assets/posters/trolls.jpg"
  thumbnails["Trolls 3D"] = "assets/posters/trolls.jpg"
  thumbnails["Hacksaw Ridge"] = "assets/posters/hacksawridge.jpg"

  thumbnails["Moana"] = "assets/posters/moana.jpg"
  thumbnails["Moana 3D"] = "assets/posters/moana.jpg"
  thumbnails["Arrival"] = "assets/posters/arrival.jpg"
  thumbnails["Fantastic Beasts and Where to Find Them"] = "assets/posters/fantasticbeasts.jpg"
  thumbnails["Fantastic Beasts and Where to Find Them 3D"] = "assets/posters/fantasticbeasts.jpg"
  thumbnails["Fantastic Beasts and Where to Find Them: An IMAX 3D Experience"] = "assets/posters/fantasticbeasts.jpg"
  thumbnails["Rules Don't Apply"] = "assets/posters/rulesdontapply.jpg"
  thumbnails["Billy Lynn's Long Halftime Walk"] = "assets/posters/billy_lynns_long_halftime_walk.jpg"
  thumbnails["Bad Santa 2"] = "assets/posters/badsanta2.jpg"
  thumbnails["Bleed for This"] = "assets/posters/bleedforthis.jpg"
  thumbnails["The Edge of Seventeen"] = "assets/posters/edgeofseventeen.jpg"
  thumbnails["Almost Christmas"] = "assets/posters/almostchristmas.jpg"
  thumbnails["Allied"] = "assets/posters/allied.jpg"

  var RESPONSE_INFO = "";

  function getMovieInfo(movie_index) {
    var result = JSON.parse(RESPONSE_INFO);
    var movieInfo = result[movie_index];

    console.log(movie_index + " Movie: " + result[movie_index].rootId + ", " + result[movie_index].title);
    return JSON.stringify(movieInfo);
  }

  function GET_REQUEST_URL(lat, lng) {
//    var API_KEY = "ghbb64hj9th6yfu9dp8e6k4w";
//    var API_KEY = "un3bsktad33mj4s4tzpaym3u";
//    var API_KEY = "xmf8jaxmdfpucq8pqmt46xn6";
    var API_KEY = "97s85qqav27xqnj6t3rfbnxj";
    var BASE_URL = "http://data.tmsapi.com/v1.1/movies/showings?startDate=";

    // get the current date
    var today = new Date();
    var days = today.getDate();
    var months = today.getMonth() + 1;
    var years = today.getFullYear();

    if (days < 10)
      days = "0" + days;
    if (months < 10)
      months = "0" + months;

    // format the date string as 2016-11-03
    today = years + "-" + months + "-" + days;

    var FULL_URL = BASE_URL + today + "&lat=" + lat + "&lng=" + lng + "&api_key=" + API_KEY;
    return FULL_URL;
  }

  function displayMovieShowtimes(showtimes, lat, lng) {
    console.log("hello!");
    //document.body.innerHtml += "<p>" + showtimes + "</p>";

    var result = JSON.parse(showtimes);

    // assign response to global variable, so we can access movie information
    // after a button click
    RESPONSE_INFO = showtimes;

    $(document.body).append("<pFound " + result.length + " movies showing!</p>");

    var movies = result.hits;

    var count = 0;
    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

    $.each(result, function (index, movie) {
      var movieData = "";
      var imgsrc = thumbnails[movie.title];

      if (imgsrc == undefined)
        imgsrc = "assets/posters/smallberg.jpg"

      movieData += '<form method="post" action="map" class="inline">';
      movieData += '<input name="authenticity_token" type="hidden" value="' + AUTH_TOKEN + '">';
      movieData += '<input type="hidden" name="movie_info" value="' + encodeURIComponent(getMovieInfo(index)) + '">';

      movieData += '<input type="hidden" name="latitude" value="' + lat + '">';
      movieData += '<input type="hidden" name="longitude" value="' + lng + '">';
      movieData += '<input type="hidden" name="recommend" value="false">';
      movieData += '<input type="hidden" name="movie_image" value="' + imgsrc + '">';

      movieData += '<button type="submit" class="link_button">'; //onclick="getMovieInfo(' + index + ')">'

      movieData += '<div class="tile"><img style="height: 300px; width: 200px; object-fit: contain" src="' + imgsrc + '"><br/>';

      movieData += '<p class="movie-title">' + movie.title + '</p>';

      movieData += "</div>";
      movieData += "</button>";
      movieData += '</form>';
      $(document.body).append(movieData);
      count++;
    });

//    console.log(showtimes);
  }

  function displayRecommendation(showtimes, lat, lng) {
    console.log("Recommendation");

    var result = JSON.parse(showtimes);
    var INDEX = 0;

    // assign response to global variable, so we can access movie information
    // after a button click
    RESPONSE_INFO = showtimes;
    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "map");

    var hiddenField;

    // auth token
    hiddenField= document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "authenticity_token");
    hiddenField.setAttribute("value", AUTH_TOKEN);
    form.appendChild(hiddenField);

    // movie info
    hiddenField= document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "movie_info");
    hiddenField.setAttribute("value", encodeURIComponent(getMovieInfo(INDEX)));
    form.appendChild(hiddenField);

    // latitude
    hiddenField= document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "latitude");
    hiddenField.setAttribute("value", lat);
    form.appendChild(hiddenField);

    // longitude
    hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "longitude");
    hiddenField.setAttribute("value", lng);
    form.appendChild(hiddenField);

    // recommend
    hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "recommend");
    hiddenField.setAttribute("value", "true");
    form.appendChild(hiddenField);

    // image
    var result = JSON.parse(RESPONSE_INFO);
    var movie = result[INDEX];
    var imgsrc = thumbnails[movie.title];
    if (imgsrc == undefined)
      imgsrc = "assets/smallberg.jpg";

    hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "movie_image");
    hiddenField.setAttribute("value", imgsrc);
    form.appendChild(hiddenField);

    document.body.appendChild(form);
    form.submit();
  }

  function httpGetAsync(lat, lng, recommend) {
    console.log("hi!");
    var url = GET_REQUEST_URL(lat, lng);
    var callback = displayMovieShowtimes;
    var xmlHttp = new XMLHttpRequest();

    if (recommend)
      callback = displayRecommendation;

    xmlHttp.onreadystatechange = function () {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
        callback(xmlHttp.responseText, lat, lng);
      }
    };
    xmlHttp.open("GET", url, true);
    xmlHttp.send(null);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWeRVSSqyWviphBYAymUc31B2cfeZpY6A" async defer></script>


</body>
</html>
